# directories
.cache/
auto-save-list/
auto-saves/
devdocs/
eln-cache/
elpa/
elpaca/
eshell/
local/
transient/
tree-sitter/
.local/
tldr/

# files
.lsp-session-v1
history
projects
recentf
session.*
tramp
eshell/history
eshell/lastdir
fontaine-latest-state.eld

# Compiled Elisp files
*.elc

# Auto-save files
*~
\#*\#
.#*
